- content_for :script do 
  = javascript_include_tag "jquery-ui.min.js" 
  = javascript_include_tag "lolita/template-engine/layout.js"
- content_for :style do
  = stylesheet_link_tag "lolita/template-engine/layout"
    
= render_component "lolita/template_engine/layout", :content_blocks, :resource => resource
      
.tabs{:class => "template-engine"}
  .tab{:class => "box first-tab", :id => "layouts_container"}
    .tab-title{:class => "boxtitle black"}
      %h1= t("Manage layout")
      .arrow
    = render_component "lolita/template_engine/layout", :grid, :resource => resource