= tab_form.hidden_field :placeholder_name
= tab_form.hidden_field :predefined_block_name
= tab_form.hidden_field :lolita_content_block_id
= tab_form.hidden_field :order_number
= tab_form.hidden_field :data_collection_method
= tab_form.hidden_field :_destroy