= builder.hidden_field :placeholder_name
= builder.hidden_field :predefined_block_name
= builder.hidden_field :lolita_content_block_id
= builder.hidden_field :order_number
= builder.hidden_field :_destroy