- content_for :script do 
  = javascript_include_tag "jquery-ui.min.js" 
= javascript_include_tag "lolita/template-engine/layout.js"
- content_for :style do
  = stylesheet_link_tag "lolita/template-engine/layout"
.secondary  
  .box
    .boxtitle{:class => "black"}
      %h1 
        = LolitaContentBlock.model_name.human(:count => 3)
      .arrow
    = render_component "lolita/template_engine/themes", :select
    = render_component "lolita/shared", :save_button
.tabs{:class => "template-engine", :"data-method"=>resource.new_record? ? "POST" : "PUT" , |
  :"data-tabs-url" => resource.new_record? ? lolita_layouts_path : lolita_layout_path(resource)}
  .tab{:class => "box first-tab"}
    .tab-title{:class => "boxtitle black"}
      %h1= t("Manage layout")
      .arrow
    = render_component "lolita/template_engine/placeholders",:display, :placeholders => existing_placeholders()
:javascript
  ControllersActions = #{controllers_and_actions.to_json}
  LayoutConfig.width = #{engine_current_layout && engine_current_layout.width || 0};
  $(function(){
    resize_all_elements();
  })